
<footer>
    <div class="footer-container">
        <menu type="context" class="top-menu">
            <span><a href="#">Home</a></span>
            <span><a href="#">Contact</a></span>
            <span><a href="#">About</a></span>
            <span><a href="#">My Profile</a></span>
        </menu>
        <div class="logo">
            <span>&copy; 2017 The Swan House</span>
        </div>
    </div>

</footer>