
<footer>
    <div class="footer-container">
        <menu type="context" class="footer-menu">
            <span><a href="/">Home</a></span>
            <span><a href="{{ftrlink}}">{{ftrlinktext}}</a></span>
            <span><a href="/users">Users</a></span>
            <span><a href="#">Contact</a></span>
        </menu>
        <div class="logo">
           <span>&copy; 2017 Journal Analytics</span>
        </div>
    </div>

</footer>