<!-- large screens navigation bar -->
{{!-- <nav class="navigation-bar-large">
    
    <div class="logo">
        <a href="#"><h4>Journal Analytics</h4></a>
    </div>
    <menu type="context" class="nav-menu-large">
        <span><a href="#">Home</a></span>
        <span><a href="#">Login</a></span>
        <span><a href="#">About</a></span>
        <span><a href="#">Contact</a></span>
    </menu>
</nav> --}}
<!-- small screens navigation bar -->

<div class="nav-mobile-container">
    <nav class="navigation-bar-mobile">
        <div class="logo">
            <a href="#"><h4>Journal Analytics</h4></a>
        </div>
        <div class="hamburger-icon">
            <img src="/../../images/HamburgerIcon.svg" alt="hamburger icon">
        </div>
    </nav>
</div>

<div class="mobile-menu">
    <menu type="context" class="nav-menu-mobile">
        <span><a href="#">Home</a></span>
        <span><a href="#">Login</a></span>
        <span><a href="#">About</a></span>
        <span><a href="#">Contact</a></span>
    </menu>
</div>
