<!DOCTYPE html>
<html>
<head>
    {{>head}}

</head>
<body>
    
    {{>nav}}


    {{{body}}}


    {{>footer}}




    

 





   
    <script src="/../../javascripts/navigation.js"></script>
    

</body>
</html>
