<!DOCTYPE html>
<html>
<head>
    {{>head}}

</head>
<body>
    {{>nav}}

    {{{body}}}

    {{>footer}}



     <!-- cdn: jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

    <!-- cdn: DDSlick for dropdown icon list -->
    <script src="https://cdn.rawgit.com/prashantchaudhary/ddslick/master/jquery.ddslick.min.js"></script>

    <!-- vendor: Google Graph Library -->
    <script src="https://www.google.com/jsapi"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- vendor: GoogleAnalytics -->
    <script src="/../../javascripts/vendors/googleanalytics/chart.js"></script>
    <script src="/../../javascripts/vendors/googleanalytics/date-range-selector.js"></script>
    <script src="/../../javascripts/vendors/googleanalytics/view-selector2.js"></script>
    <script src="/../../javascripts/vendors/googleanalytics/active-users.js"></script>

    <!-- dev files -->
    <script src="/../../javascripts/form.js"></script>

</body>
</html>
