<!DOCTYPE html>
<html>
<head>
    {{>head}}

</head>
<body>
    
    {{>nav}}


    {{{body}}}


    {{>footer}}




    <!-- CDN: chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

    <!-- cdn: moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

 

    <!-- vendor: Google Graph Library -->
    <script src="https://www.google.com/jsapi"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>


    <!-- dev files -->
    <script src="/../../javascripts/form.js"></script>


    <!-- cdn: jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <script src="/../../javascripts/navigation.js"></script>
    

</body>
</html>
