<!DOCTYPE html>
<html>
<head>
    {{>head}}

</head>
<body>
    
    {{>nav}}


    {{{body}}}


    {{>footer}}





    <!-- cdn: jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <script src="/../../javascripts/navigation.js"></script>
    
</body>
</html>
