<div class="index-banner parallax">
    <div class="title-message">
        <img src="../images/JAlogo.svg" alt="journal analytics">
    </div>
</div>

<div class="about-product-container">
    <div class="product-information-container">
        <div class="product-information">
            <p>Google Analytics is a powerful tool used to display user activity on your site, network referrals, and what's working on the web. However, there's a disconnect between these analytics and your work outside of the web.</p>
            <p>Keep a journal of all the efforts you put into your buisness on and off the web using Journal Analytics. Journal Analytics displays these events so you can visualize how they affect activity on your site.</p>
        </div>
        <div class="product-information-photo">
            <img src="../images/productinfo.jpeg" alt="">
        </div>
    </div>
</div>





<script src="../javascripts/index.js"></script>