<div class="index-banner parallax">
    <div class="title-message">
        <strong><em><h1>Expand Your Analytics</h1></em></strong>
    </div>
</div>

<div class="about-product-container">
    <div class="product-information-container">
        <div class="product-information">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, tempore magnam. Maxime deleniti nemo consequuntur, molestias commodi possimus esse ab voluptas illum sapiente fuga ut reiciendis provident ullam pariatur expedita.</p>
        </div>
        <div class="product-information-photo">
            <img src="../images/productinfo.jpeg" alt="">
        </div>
    </div>
</div>






<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

<script src="../javascripts/index.js"></script>