<div class="index-banner parallax">
    <div class="title-message">
        <img src="../images/JAlogo.svg" alt="journal analytics">
    </div>
</div>

<div class="about-product-container">
    <div class="product-information-container">
        <div class="product-information">
            <p>Google Analytics is a powerful tool to display who's visiting your site, how did they get there, and what's working on the web. However, there's a disconnect between these analytics and your work outside of the web.</p>
            <p>Keep a journal of all the effors you put into your buisness on and off the web.</p>
        </div>
        <div class="product-information-photo">
            <img src="../images/productinfo.jpeg" alt="">
        </div>
    </div>
</div>






<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

<script src="../javascripts/index.js"></script>