
<main>
    <div class="image-pannel">
        <img src="../images/data-analytics.jpg" alt="man standing in front of analytics on chalkboard">
    </div>


    <div class="login-container">
        <div class="login-information-container">
            <h2>Welcome to Journal Analytics</h2>
            <p>Google Analytics is a powerful tool to display who's visiting your site, how did they get there, and what's working on the web. However, there's a disconnect between these analytics and your work outside of the web.</p>
            <p>Our application connects realtime Google Analytics with additional data you supply. Had a booth set up at a 5K event? Post it here! Submit a certain blog on multiple platforms? Post it here!</p>
            <p>Keep a journal of all the effors you put into your buisness on and off the web.</p>
        </div>
        <div class="login-google">
            <span>{{message1}}<a href='{{link}}'>{{linktext}}</a></span>
        </div>
    </div>
    
</main>













<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
