
<main class="login-main">
    <div class="image-pannel">
        <img src="../images/data-analytics.jpg" alt="man standing in front of analytics on chalkboard">
    </div>


    <div class="login-container">
        <div class="login-container-welcome">
            <h2>Welcome to Journal Analytics</h2>
        </div>
        <div class="login-information-container">
            <p>Google Analytics is a powerful tool used to display user activity on your site, network referrals, and what's working on the web. However, there's a disconnect between these analytics and your work outside of the web.</p>
            <p>Journal Analytics connects real-time data from Google Analytics with additional data you supply. Had a booth set up at a 5K event? Post it here! Submitted a blog post on multiple platforms? Post it here!</p>
            <p>Keep a journal of all the efforts you put into your buisness on and off the web using Journal Analytics. Journal Analytics displays these events so you can visualize how they affect activity on your site.</p>
        </div>
        <div class="login-google">
            <span>{{message1}}<a href='{{link}}'>{{linktext}}</a></span>
        </div>
    </div>
    
</main>


