



<main class="main-teamevents">
    <div class="chart-navigation">
        <div class="fixed-container">
            <div class="user-info-container">
                <img data-role="profilepic" class="large-user-photo" src='{{pic}}' alt='profile picture'>
                <!-- Map and Google API containers -->
                {{!-- <div id="view-name" class="hidden"></div> <!-- PropertyName: DigitalCrafts, ViewName: All Web Site Data --> --}}
                <div id="embed-api-auth-container" class="hidden"></div> <!--You are logged in as: google user -->
                <div id="view-selector-container"></div> <!-- Account, Property, View dropdowns -->
            </div>
            <div class="selector-container">
                <div id="events-view-selector-container">
                </div> <!-- Active users -->
                <div class="sessions-count-container"><h3 class="sessions-count">Date Range</h3></div>
                <div id="date-range-selector-container-events"></div> <!-- Start/End Date selector -->
            </div>
        </div>
    </div>

    <div class="search-field">
        <h2>{{company}}</h2>
        <div id="embed-api-auth-container3" class="hidden"></div>
        <h2 class="event-title">Search Events Added by Your Team</h2>
        <div class="events-container" data-role="events-container"></div>
        
    </div>
</main>











<!-- popup form for editing events -->
        <form class="form" name="eventform" data-role="event-edit">
            <div class="form-container"> 
                <!-- date -->
                <div class="date">
                    <label for="date">Date: </label>
                    <input name="date" id="event-date" autocomplete="on" type="date" required>
                </div>

                <!-- describe event box -->
                <div class="describe-event">
                    <textarea data-type="form-description" name="event-description" rows="3" cols="50" required></textarea>
                </div>

                <div class="event-link">
                    <input name="link" type="text" data-role="event-link" cols="50" >
                </div>
            <!-- icons to choose from -->
                <div><h4>Event Type</h4></div>
                <div class="icon-dropdown" id="eventDropdown" data-role="dropdown">
                    <option class="icon" value="General" data-imagesrc="../images/defaulticon.svg" data-description="General"></option>
                    <option class="icon" value="Multiplatform" data-imagesrc="../images/multipleplatform.png" data-description="Multiplatform"></option>
                    <option class="icon" value="Outdoor" data-imagesrc="../images/tent.png" data-description="Outdoor"></option>
                    <option class="icon" value="Important" data-imagesrc="../images/importanticon.svg" data-description="Important"></option>
                    <option class="icon" value="Social" data-imagesrc="../images/socialevent.png" data-description="Social"></option>
                    <option class="icon" value="Email" data-imagesrc="../images/email.png" data-description="Email"></option>
                    <option class="icon" value="Facebook" data-imagesrc="https://cdn.worldvectorlogo.com/logos/facebook-icon.svg" data-description="Facebook"></option>
                    <option class="icon" value="Tweet" data-imagesrc="https://cdn.worldvectorlogo.com/logos/twitter-4.svg" data-description="Tweet"></option>
                    <option class="icon" value="Google Plus" data-imagesrc="../images/google-plus.svg" data-description="Google Plus"></option>
                    <option class="icon" value="Linkedin" data-imagesrc="../images/linkedin.png" data-description="Linkedin"></option>
                    <option class="icon" value="Instagram" data-imagesrc="https://cdn.worldvectorlogo.com/logos/instagram-2016.svg" data-description="Instagram"></option>
                </div>
                <div class="status-msg" data-role="status-msg">
                </div>
                <div class="button-container">
                    <button type="submit" class="submit-event" data-role="submit">Submit</button>
                    <button data-role="reset">Reset</button>
                    <button class="exit-popup" data-role="close-event-form"> Close </button>
                </div>
            </div>
        </form>



<!-- CDN: jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- CDN: moment -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script> 

<!-- cdn: DDSlick for dropdown icon list -->
<script src="https://cdn.rawgit.com/prashantchaudhary/ddslick/master/jquery.ddslick.min.js"></script>

<!-- vendor: Google Graph Library -->
<script src="https://www.google.com/jsapi"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>

<!-- vendor: Google Analytics -->
<script src="../javascripts/vendors/googleanalytics/client-id.js"></script>
<script src="../javascripts/vendors/googleanalytics/authorization.js"></script>
<script src="../javascripts/vendors/googleanalytics/date-range-selector.js"></script>
<script src="../javascripts/vendors/googleanalytics/view-selector2.js"></script>

<script src="../javascripts/eventlistselector.js"></script>