<div id="embed-api-auth-container2" class="hidden"></div> 

<div class="search-field">
    <h1>Search Active Members on Your Team</h1>
    <h5>Remember, only members who have added an event will appear on this list</h5>
    <h5>To add a team member, please <a href="https://support.google.com/analytics/answer/1009702?hl=en">add them to your Google Analytics account</a>
    <div id="members-view-selector-container"></div>
</div>
<div data-role="error-msg"></div>


<div class="member-list" data-role="member-list"></div>



<!-- CDN: jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<!-- vendor: Google Graph Library -->
<script src="https://www.google.com/jsapi"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<!-- vendor: Google Analytics -->
<script src="../javascripts/vendors/googleanalytics/client-id.js"></script>
<script src="../javascripts/vendors/googleanalytics/authorization.js"></script>
<script src="../javascripts/vendors/googleanalytics/view-selector2.js"></script>
<script src="../javascripts/memberselector.js"></script>
