



<main class="main-teamevents">
    <div class="chart-navigation">
        <div class="user-info-container">
            <img data-role="profilepic" class="large-user-photo" src='{{pic}}' alt='profile picture'>
            <!-- Map and Google API containers -->
            {{!-- <div id="view-name" class="hidden"></div> <!-- PropertyName: DigitalCrafts, ViewName: All Web Site Data --> --}}
            <div id="embed-api-auth-container" class="hidden"></div> <!--You are logged in as: google user -->
            <div id="view-selector-container"></div> <!-- Account, Property, View dropdowns -->
        </div>
        <div class="selector-container">
            <div id="events-view-selector-container">
            </div> <!-- Active users -->
            <div class="sessions-count-container"><h3 class="sessions-count">Date Range</h3></div>
            <div id="date-range-selector-container-events"></div> <!-- Start/End Date selector -->
        </div>
    </div>

    <div class="search-field">
        <div id="embed-api-auth-container3" class="hidden"></div>
        <h2>Search Events Added by Your Team</h2>
        <div class="events-container" data-role="events-container"></div>
        
    </div>
</main>









<!-- CDN: jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- CDN: moment -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script> 

<!-- vendor: Google Graph Library -->
<script src="https://www.google.com/jsapi"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>

<!-- vendor: Google Analytics -->
<script src="../javascripts/vendors/googleanalytics/client-id.js"></script>
<script src="../javascripts/vendors/googleanalytics/authorization.js"></script>
<script src="../javascripts/vendors/googleanalytics/date-range-selector.js"></script>
<script src="../javascripts/vendors/googleanalytics/view-selector2.js"></script>
<script src="../javascripts/eventlistselector.js"></script>