<div id="embed-api-auth-container3" class="hidden"></div>

<div class="user-info-container search-field">
    <div id="events-view-selector-container">
    </div>

    <div id="date-range-selector-container-events">
    </div>
</div>
<div class="events-container" data-role="events-container"></div>

<!-- CDN: jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- CDN: moment -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script> 

<!-- vendor: Google Graph Library -->
<script src="https://www.google.com/jsapi"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>

<!-- vendor: Google Analytics -->
<script src="../javascripts/vendors/googleanalytics/client-id.js"></script>
<script src="../javascripts/vendors/googleanalytics/authorization.js"></script>
<script src="../javascripts/vendors/googleanalytics/date-range-selector.js"></script>
<script src="../javascripts/vendors/googleanalytics/view-selector2.js"></script>
<script src="../javascripts/eventlistselector.js"></script>