<div id="embed-api-auth-container2" class="hidden"></div> 
<main class="main-teamevents">
    <div class="chart-navigation">
        <div class="fixed-container">
            <div class="user-info-container">
                <img data-role="profilepic" class="large-user-photo" src='{{pic}}' alt='profile picture'>
                <!-- Map and Google API containers -->
                {{!-- <div id="view-name" class="hidden"></div> <!-- PropertyName: DigitalCrafts, ViewName: All Web Site Data --> --}}
                <div id="view-selector-container"></div> <!-- Account, Property, View dropdowns -->
            </div>
            <div class="selector-container">
                <div id="members-view-selector-container"></div>
            </div>
        </div>
    </div>
    <div class="search-field">
        <div class="mem-title">
            <h1>Search Active Members on Your Team</h1>
            <h4>Remember, only members who have added an event will appear on this list</h4>
            <h4>To add a team member, please <a target="_blank" rel="noopener noreferrer" href="https://support.google.com/analytics/answer/1009702?hl=en">add them to your Google Analytics account</a>
            <div class="member-list" data-role="member-list"></div>
            <h4>*** Your profile information is obtained from your Google account. To edit this information, please update it in Google. ***</h4>
        </div>
    </div>
    
</main>







<!-- CDN: jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<!-- vendor: Google Graph Library -->
<script src="https://www.google.com/jsapi"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<!-- vendor: Google Analytics -->
<script src="../javascripts/vendors/googleanalytics/client-id.js"></script>
<script src="../javascripts/vendors/googleanalytics/authorization.js"></script>
<script src="../javascripts/vendors/googleanalytics/view-selector2.js"></script>
<script src="../javascripts/form.js"></script>
<script src="../javascripts/memberselector.js"></script>
