<div id="embed-api-auth-container2" class="hidden"></div> 

<form method="post" action="/teammembers/search" name="member-selection">
    <div class="user-info-container">
        <div id="members-view-selector-container"></div>
    </div>
</form>




<!-- CDN: jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

<!-- vendor: Google Graph Library -->
<script src="https://www.google.com/jsapi"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>

<!-- vendor: Google Analytics -->
<script src="../javascripts/vendors/googleanalytics/client-id.js"></script>
<script src="../javascripts/vendors/googleanalytics/authorization.js"></script>
<script src="../javascripts/vendors/googleanalytics/view-selector2.js"></script>
<script src="../javascripts/vendors/googleanalytics/memberselector.js"></script>
