

<main>


    <div class="main-user-experience">

        <div class="chart-navigation">
            <div class="user-info-container">
                <img data-role="profilepic" class="large-user-photo" src='{{pic}}' alt='profile picture'>
                <!-- Map and Google API containers -->
                <div id="view-name" class="hidden"></div> <!-- PropertyName: DigitalCrafts, ViewName: All Web Site Data -->
                <div id="embed-api-auth-container" class="hidden"></div> <!--You are logged in as: google user -->
                <div id="view-selector-container"></div> <!-- Account, Property, View dropdowns -->
            </div>
            <div class="selector-container">
                <div id="active-users-container"></div> <!-- Active users -->
                <div><h3 class="sessions-count">Date Range</h3></div>
                <div id="date-range-selector-container"></div> <!-- Start/End Date selector -->
            </div>
        </div>


        {{!-- Charts container --}}
        <div class="charts-container">
            <div class="company-logo-container">
                <div class="company-logo">
                    <img class="company-logo" src="../images/digitalcraftslogo.png" alt="company-logo">
                    {{!-- <img class="company-logo" src='{{{companylogo}}}'alt="company-logo"> --}}
                </div>
            </div>

            <div class="all-charts-container">

                <!----------- Main GRAPH ----------->

                <div id="template-container"></div>
                <hr />
                
                <div class="box">
                    <h3>Main Overview</h3>
                    <div id="main-container"></div>
                </div>
                <hr />

                <div class="box">
                    <h3>Traffic Overview</h3>
                    <div id="traffic-container"></div>
                </div>

                <!--- Sessions/Users Graph --->
                {{!-- <h3> Site Traffic Sessions vs. Users - last 30 days </h3> --}}
                <div id="sessions-users-container"></div> 
                <hr />

                <!--------- Annual Graph --------->
                <div class="Chartjs">
                    <h3>Annual (by users)</h3>
                    <figure class="Chartjs-figure" id="chart-2-container"></figure>
                    <ol class="Chartjs-legend" id="legend-2-container"></ol>
                </div>
            </div>

        </div>
        

        
        <!-- fixed green plus button at bottom right -->
        <div class="add-event-button">
            <img src="../images/plussqareicon.png" alt="green plus button for adding event" data-type="open-event-popup">
        </div>


        <!-- popup form for adding events -->
        <form class="form" id="submit-event" data-popup="form-container">
            <div class="form-container"> 

                <!-- date -->
                <div class="date">
                    <label for="date">Date: </label>
                    <input name="date" id="date" autocomplete="on" type="date" required>
                </div>

                <!-- describe event box -->
                <div class="describe-event">

                    <textarea data-type="form-description" name = "event-description" rows="3" cols="50" placeholder="Describe your event" required></textarea>

                </div>
                
            
            <!-- icons to choose from -->
                <div class="icon-dropdown" id="myDropdown">
                    <option class="icon" value="defaultcheck" data-imagesrc="../images/defaulticon.svg" data-description="Default"></option>
                    <option class="icon" value="email" data-imagesrc="../images/email.png" data-description="Email"></option>
                    <option class="icon" value="facebook" data-imagesrc="https://cdn.worldvectorlogo.com/logos/facebook-icon.svg" data-description="Facebook"></option>
                    <option class="icon" value="twitter" data-imagesrc="https://cdn.worldvectorlogo.com/logos/twitter-4.svg" data-description="Tweet"></option>
                    <option class="icon" value="gmail" data-imagesrc="../images/google-plus.svg" data-description="Google Plus"></option>
                    <option class="icon" value="linkedin" data-imagesrc="../images/linkedin.png" data-description="Linkedin"></option>
                    <option class="icon" value="instagram" data-imagesrc="https://cdn.worldvectorlogo.com/logos/instagram-2016.svg" data-description="Instagram"></option>
                    <option class="icon" value="outdoorevent" data-imagesrc="../images/tent.png" data-description="Event"></option>

                </div>
                <div class="button-container">
                    <button type="submit" class="submit-event" data-role="submit">Submit</button>
                    <button type="reset">Reset</button>
                    <button class="exit-popup" data-popup="close-event-popup"> Close </button>

                </div>
            </div>
        </form>

    </div>





    
</main>

<!-- CDN: jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
 <!-- CDN: chart -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<!-- CDN: highcharts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/highcharts.js"></script>
 <!-- cdn: moment -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<!-- vendor: Google Graph Library -->
<script src="https://www.google.com/jsapi"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>

<!-- vendor: Google Analytics -->
<script src="../javascripts/vendors/googleanalytics/authorization.js"></script>
<script src="../javascripts/vendors/googleanalytics/active-users.js"></script>
<script src="../javascripts/vendors/googleanalytics/date-range-selector.js"></script>
<script src="../javascripts/vendors/googleanalytics/view-selector2.js"></script>
<script src="../javascripts/vendors/googleanalytics/chart.js"></script>

 <!-- cdn: DDSlick for dropdown icon list -->
<script src="https://cdn.rawgit.com/prashantchaudhary/ddslick/master/jquery.ddslick.min.js"></script>
<script src="../javascripts/form.js"></script>

<!-- dev files -->
<script src="../javascripts/user.js"></script>
<script src="../javascripts/graph.js"></script>

