 <main>
    <!-- fixed green plus button at bottom right -->
    <div class="add-event-button">
        <button><img src="../images/plusadd.png" alt="green plus button for adding event" data-type="open-event-popup"></button>
    </div>


    <!-- popup form for adding events -->
    <form class="form" id="submit-event" data-popup="form-container">
        <div class="form-container"> 

            <!-- date -->
            <div class="date">
                <label for="date">Date: </label>
                <input id="date" autocomplete="on" type="date" value="date" required>
            </div>

            <!-- describe event box -->
            <div class="describe-event">
                <textarea data-type="form-description" name = "event-description" rows="10" cols="50" placeholder="Describe your event" required></textarea>
            </div>

            <!-- icons to choose from -->
            <div class="icon-dropdown" id="myDropdown">
                <option class="icon" value="facebook" data-imagesrc="resources/images/facebook.png" data-description="Facebook Post"></option>
                <option class="icon" value="twitter" data-imagesrc="resources/images/twitter.png" data-description="Tweet"></option>
                <option class="icon" value="gmail" data-imagesrc="resources/images/gmail.png" data-description="Google Plus post"></option>
                <option class="icon" value="linkedin" data-imagesrc="resources/images/linkedin.png" data-description="Linkedin post"></option>
                <option class="icon" value="pintrest" data-imagesrc="resources/images/pintrest.png" data-description="Pintrest post"></option>
                <option class="icon" value="instagram" data-imagesrc="resources/images/instagram.png" data-description="Instagram post"></option>
                <option class="icon" value="email" data-imagesrc="resources/images/email.png" data-description="Email"></option>
            </div>

            
            <div class="button-container">
                <button name="button" type="submit" class="submit-event" data-role="submit">Submit</button>
                <button name="button" type="reset">Reset</button>
                <button name="button" class="exit-popup" data-popup="close-event-popup"> Close </button>
            </div>
        </div>
    </form>

    
    <!-- Map and Google API containers -->
    <div id="embed-api-auth-container"></div> <!--You are logged in as: google user -->
    <div id="view-selector-container"></div> <!-- Account, Property, View dropdowns -->
    <div id="chart-container"></div> <!-- Graph -->
    <div id="date-range-selector-container"></div> <!-- Start/End Date selector -->
</main>
<script src="../javascripts/vendors/form.js"></script>