
<main>
    {{!-- loader --}}
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div class="main-user-experience">
        <div class="chart-navigation">
            <div class="fixed-container">
                <div class="user-info-container">
                    <img data-role="profilepic" class="large-user-photo" src='{{pic}}' alt='profile picture'>
                    <div id="active-users-container"></div><br /> <!-- Active users -->
                    <!-- Google API containers -->
                    {{!-- <div id="view-name" class="hidden"></div> <!-- PropertyName: DigitalCrafts, ViewName: All Web Site Data --> --}}
                    <div id="view-selector-container"></div> <!-- Account, Property, View dropdowns -->
                </div>
                <div class="selector-container">
                    <div id="events-view-selector-container">
                    </div> <!-- Active users -->
                    <div class="sessions-count-container"><h3 class="sessions-count">Date Range</h3></div>
                    <div id="date-range-selector-container"></div>  <!-- Start/End Date selector -->
                </div>
            </div>
        </div>

        {{!-- Charts container --}}
        <div class="charts-container">
            <div class="company-logo-container">
                <div class="company-logo">
                    <div id="view-name" class="company-logo"></div>
                    {{!-- <img class="company-logo" src="../images/digitalcraftslogo.png" alt="company-logo"> --}}
                    {{!-- <img class="company-logo" src='{{{companylogo}}}'alt="company-logo"> --}}
                </div>
            </div>
            <div id="embed-api-auth-container" class="hidden embed-container"></div> <!--You are logged in as: google user -->
            <div class="all-charts-container">

                <!-- default graphs provided by GA, will be hidden-->
                <div id="template-container"></div>
                <div id="template-container-2"></div>
                
                <!-- main graph -->
                <div class="box">
                    <h3>Site Traffic and Team Events</h3>
                    <div id="main-container"></div>
                </div>
                <hr />

                <!-- pie graph -->
                <div class="extra-info-graphs">
                    <div class="pie-container">
                        <h1 style="text-align: center;"> Event Distribution </h1>
                        <div id="event-pie-graph"></div>
                    </div>
                    <div class="Chartjs">
                        <h1>Users: 2017 vs. 2016</h1>
                        <figure class="Chartjs-figure" id="annual-graph-container"></figure>
                    </div>
                </div>
                {{!--<hr />--}}

                <!-- traffic graph -->
                {{!--<div class="box">
                    <h3>Weekly Network Referrals</h3>
                    <div id="traffic-container"></div>
                </div>--}}

            </div>

        </div>
        

        
        <!-- fixed green plus button at bottom right -->
        <div class="add-event-button">
            <img src="../images/plussqareicon.png" alt="green plus button for adding event" data-type="open-event-popup">
        </div>


        <!-- popup form for adding events -->
        <form class="form" name="eventform" data-popup="form-container">
            <div class="form-container"> 

                <!-- date -->
                <div class="date">
                    <label for="date">Date: </label>
                    <input name="date" id="date" autocomplete="on" type="date" required>
                </div>

                <!-- describe event box -->
                <div class="describe-event">
                    <textarea data-type="form-description" name = "event-description" rows="3" cols="50" placeholder="Describe your event" required></textarea>
                </div>

                <div class="event-link">

                    <input name="link" type="text" placeholder="Link (optional)" cols="50" >

                </div>
                <div id="view-selector-container2"></div>
            
            <!-- icons to choose from -->
                <div><h4>Event Type</h4></div>
                <div class="icon-dropdown" id="myDropdown">
                    <option class="icon" value="General" data-imagesrc="../images/defaulticon.svg" data-description="General"></option>
                    <option class="icon" value="Multiplatform" data-imagesrc="../images/multipleplatform.png" data-description="Multiplatform"></option>
                    <option class="icon" value="Outdoor" data-imagesrc="../images/tent.png" data-description="Outdoor"></option>
                    <option class="icon" value="Important" data-imagesrc="../images/importanticon.svg" data-description="Important"></option>
                    <option class="icon" value="Social" data-imagesrc="../images/socialevent.png" data-description="Social"></option>
                    <option class="icon" value="Email" data-imagesrc="../images/email.png" data-description="Email"></option>
                    <option class="icon" value="Facebook" data-imagesrc="https://cdn.worldvectorlogo.com/logos/facebook-icon.svg" data-description="Facebook"></option>
                    <option class="icon" value="twitter" data-imagesrc="https://cdn.worldvectorlogo.com/logos/twitter-4.svg" data-description="Tweet"></option>
                    <option class="icon" value="Google Plus" data-imagesrc="../images/google-plus.svg" data-description="Google Plus"></option>
                    <option class="icon" value="Linkedin" data-imagesrc="../images/linkedin.png" data-description="Linkedin"></option>
                    <option class="icon" value="Instagram" data-imagesrc="https://cdn.worldvectorlogo.com/logos/instagram-2016.svg" data-description="Instagram"></option>
                    

                </div>
                <div class="status-msg" data-role="status-msg">
                </div>
                <div class="button-container">
                    <button type="submit" class="submit-event" data-role="submit">Submit</button>
                    <button data-role="reset">Reset</button>
                    <button class="exit-popup" data-popup="close-event-popup"> Close </button>

                </div>
            </div>
        </form>


<!-- The Modal -->
<div id="myModal" class="modal">
    
  <!-- Modal content -->
  <div class="modal-content">
      
      <div class="modal-title">
          
          <div class="top-modal-info"></div>
          <span class="close">&times;</span>
      </div>
    
    <div class="modal-list">
        
    </div>
  </div>

</div>





    
</main>

 <!--CDN: chart -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<!-- CDN: highcharts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/highcharts.js"></script>
<!-- CDN: moment -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<!-- vendor: Google Graph Library -->
<script src="https://www.google.com/jsapi"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<!-- vendor: Google Analytics -->
<script src="../javascripts/vendors/googleanalytics/client-id.js"></script>
<script src="../javascripts/vendors/googleanalytics/authorization.js"></script>
<script src="../javascripts/vendors/googleanalytics/active-users.js"></script>
<script src="../javascripts/vendors/googleanalytics/date-range-selector.js"></script>
<script src="../javascripts/vendors/googleanalytics/view-selector2.js"></script>
<script src="../javascripts/vendors/googleanalytics/chart.js"></script>
<!-- cdn: DDSlick for dropdown icon list -->
<script src="https://cdn.rawgit.com/prashantchaudhary/ddslick/master/jquery.ddslick.min.js"></script>
<script src="../javascripts/form.js"></script>
<!-- dev files -->
<script src="../javascripts/graph.js"></script>
