/* #116466 - DARK GREEN
#2C3531 CHARCOL
#D9B08C - DARK PEACH
#FFCB9A - PEACH
#D1E8E2 - LIGHT BLUE 
#75543D - BROWN
#564133 - DARK BROWN*/
/* * {
    box-sizing: border-box;
} */

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.js #loader { 
    display: block; 
    position: absolute; 
    left: 100px; 
    top: 0; 
    background-color: black
}
/* *************************************************** */
/* Landing page */

.index-banner {
    height: 800px;
    background-image: url('/../images/backgroundbanner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.title-message {
    position: relative;
    top: 50%;
    left: 15%;
    font-size: 30px;
}
.parallax {
    transition: initial;
}
/* Landing page */
/* *************************************************** */


#view-selector-container2 > .ViewSelector2 > .ViewSelector2-item {
    display: inline-block;
}


#view-selector-container2 > .ViewSelector2 > .ViewSelector2-item:nth-child(3),
#events-view-selector-container > .ViewSelector2 > .ViewSelector2-item:nth-child(3),
#members-view-selector-container > .ViewSelector2 > .ViewSelector2-item:nth-child(3) {
    display: none;
}

.search-field {
    padding: 20px;
}




/* *************************************************** */
/* Useres logged in page */
.main-user-experience {
    width: 100%;
}
/* top options on mobile and left column options on large */
.user-info-container img{
    padding-bottom: 30px;
}
label {
    padding-right: 15px;
}
.chart-navigation {
    width: 100%;
    background-image: url('../images/sidebackground.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    letter-spacing: 1px;
    padding-top: 100px;
    padding-bottom: 35px;
    color: #ADD8E6;
}
.selector-container,
.user-info-container{
    padding-left: 20px;
    padding-right: 20px;
}
.large-user-photo {
    display: none;
}
.sessions-count-container {
    text-align: right;
}
.selector-container {
    text-align: right;
    padding-bottom: 20px;
}
.date-input,
.FormField {
    font-size: 12px;
    height: 30px;
    width: 100px;
    border-radius: 2px;
}
.ViewSelector2-item,
.DateRangeSelector-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.ActiveUsers {
    text-align: center;
    padding-bottom: 10px;
}

/* *************************************************** */

/* Chart section */
.chart-date-range-container,
.chart-selection-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

#chart-container {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Chart section */
/* *************************************************** */





/* ************* */
/* logged in charts container user information with welcome  */
.charts-container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.company-logo-container {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 40px;
    width: 100%; 
}
.company-logo{
    margin: 0 auto;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}
.box {
    background: white;
    width: 100%;
}
/* logged in user information with welcome  */
/* ****************** */





/* class that hides things */
#template-container, #template-container-2,
#sessions-users-container,
.hidden {
    display: none;
}

/****************** user graph modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #888;
    width: 90%;
    height: 50%;
    overflow: scroll;
    background-image: url('../images/footerbackground.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
}
.modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ADD8E6;
    font-weight: bolder;
}
.modal-container {
    padding: 20px;
    color: #ADD8E6;
}

/* sarahs event modal */
.date-container,
.modal-text-area,
.event-dropdown,
.link-box {
    padding-top: 20px;
}
.link-box input{
    width: 400px;
}
.event-dropdown {
    background-color: white;
}
/****************** event modal */
/* .event-modal {
    display: none;
    position: fixed;
    z-index: 1000000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}
.event-modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ADD8E6;
    font-weight: bolder;
} */


/* The Close Button */
.close {
    color: #ADD8E6;
    padding-right: 20px;
    font-size: 40px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #eee;
    text-decoration: none;
    cursor: pointer;
}
.top-modal-info {
    padding-top: 10px;
    padding-left: 20px;
    text-align: center;
    font-size: 20px;
}
.event-item {
    position: relative;
    display: flex;
    margin: 1rem;
    background-color: #395062;
    border-radius: 8px;
    padding: 1rem;
    line-height: 30px;
}
.modal-list h2 {
    color: #ADD8E6;
    padding-left: 20px;
}
.event-item p {
    margin: 0;
    text-align: left;
}
.event-item a {
    text-decoration: none;
    color: #eee;
}
.event-item a:hover {
    color: #ADD8E6;
}
.icon-image-modal {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 15px;
    padding-top: 15px;
}
.icon-image-modal img {
    height: 35px;
}
/* modal */
/* ******************* */
/* ******************* */
/* ******************* */




/* ******************* */
/* ******************* */
/* ******************* */
/* green plus sign fixed to bottom right to add events */
.add-event-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    z-index: 1000;
}
.add-event-button img {
    height: 40px;
    box-shadow: 1px 5px 5px slategray;
}
.add-event-button img:hover {
    cursor: pointer;
}
.add-event-button img:active {
    box-shadow: 1px 3px 1px slategray;
}
/* ******************* */


/* End of user  */
/* ********************** */
/* ********************** */
/* ********************** */
/* ********************** */
/* ********************** */
/* End of user  */



/* login page */
/* ********************** */
/* ********************** */
/* ********************** */
/* ********************** */
/* login page */
.login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-pannel {
    max-width: 500px;
    height: 100%;
    padding-top: 70px;
    margin: auto 0;
}
.image-pannel img {
    margin-top: 3px;
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 5px slategray;
}
.login-google {
    padding-top: 50px;
    padding-bottom: 50px;
}

.login-container {
    margin: auto auto;
    padding: 20px;
}  
.login-container-welcome {
    margin: 0 auto;
}
.login-google,
.login-information-container {
    text-align: justify;
}
.login-google span{ 
    padding: 0px;
    border: none;
}

.event-error,
.event-error:hover
.event-error:visited {
    cursor: default;
    color: red;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
}
/* ******************LOGIN PAGE********************************* *//* *************************************************** *//* *************************************************** */


/* *************************************************** *//* *************************************************** *//* **********************START EVENT MEMBER PAGE************* */
.icon-events {
    height: 40px;
    position: absolute;
    right: 0;
    top: 30%;
}
.search-field h2 {
    padding-bottom: 40px;
}
.event-content,
.event-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    line-height: 25px;
    position: relative;
    min-width: 300px;
}
.event-anchor {
    padding-right: 20px;
}
.event-date {
    font-size: 22px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 5px;
    border-bottom: .25px solid #ADD8E6;
}


/* **********************END EVENT MEMBER PAGE*************** *//* *************************************************** *//* *************************************************** *//* *************************************************** */

.individual-member-container,
.members-container,
.member-list {
    padding-top: 30px;
}
.individual-member-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* *************************************************** */
/* footer for all pages */
.footer-container {
    height: 200px;
    background-image: url('../images/footerbackground.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ADD8E6;
    border-top: 2px solid slategray;
    z-index: 100000;
}
.menu-footer {
    padding: 0;
}

/* *************************************************** */












/* *************************************************** *//* *************************************************** *//* *************************************************** *//* *************************************************** */
@media only screen and (min-width: 500px){
    .DateRangeSelector-item,
    .ViewSelector2-item {
        flex-direction: row;
    }
    .chart-navigation {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 768px){
    /* ***************** */
    /* home page */
    .product-information-container {
        display: flex;
        justify-content: space-around;
        margin: 75px;
        overflow-y: none;
    }
    .product-information {
        width: 40%;
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    .product-information-photo {
        width: 50%;
    }
    .product-information-photo img {
        width: 100%;
    }
    /* home page */
    /* ***************** */


    .search-field {
        padding: 100px;
    }
    .event-container {
        min-width: 450px;
    }

    /* charts and side bar */
    .main-teamevents,
    .main-user-experience {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .date-input,
    .FormField {
        font-size: 14px;
        height: 35px;
        width: 150px;
        border-radius: 5px;
    }
    /* side chart navigation */
    .large-user-photo {
        display: unset;
        border-radius: 5px;
    }
    /* .DateRangeSelector-item,
    .ViewSelector2-item {
        flex-direction: column;
    } */

    .fixed-container {
        position: fixed;

    }
    .sessions-count-container,
    .selector-container,
    .user-info-container {
        text-align: center;
    }
    .selector-container {
        padding-top: 10px;
    }
    .chart-navigation {
        flex-direction: column;
        justify-content: flex-start;
        letter-spacing: 1.5px;
        color: #ADD8E6;
        max-width: 270px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 125px;
    }
    .selector-container {
        text-align: left;
    }
    /* company logo */
    .company-logo-container {
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 30px;
        width: 100%; 
    }
    .company-logo img{
        margin: 0 auto;
    }
    /* all chart container */
    .charts-container {
        width: 75%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 100px;
    }
    /* high charts chart */

    .box {
        background: white;
        width: 90%;
        margin: 4.5rem auto; 

        box-shadow: 0px 50px 80px -20px rgba(123, 160, 175, 0.70),0 20px 30px 10px rgba(80,180,220,0.2),0 0px 80px 60px rgba(80,180,220,0.2);
    }
    .modal-content {
        width: 50%;
        height: 50%;
    }



    /* ************************ */
    /* login page */
    .login-main {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .login-google {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .login-container-welcome {
        padding-top: 70px;
    }
    .image-pannel {
        max-width: 400px;
        height: 100%;
        padding-top: 70px;
        padding-left: 20px;
        margin: auto 0;
    }
    .login-container {
        width: 40%;
        margin: auto auto;
        padding: 20px;
    }    
    .login-google,
    .login-information-container {
        text-align: justify;
        max-width: 600px;
        margin: 0 auto;
    }
    .login-google span{ 
        padding: 10px;
        border: 2px solid #394358;
    }
    .login-google span{ 
        padding: 0px;
        border: none;
    }
    /* end of login page */
    /* ******************** */
    
}
@media only screen and (min-width: 940px) {
    .DateRangeSelector-item,
    .ViewSelector2-item {
        display: flex;
        flex-direction: row;
    }
    
}

/* *************************************************** *//* *************************************************** *//* *************************************************** *//* *************************************************** */
@media only screen and (min-width: 1200px){
    .event-container {
        min-width: 600px;
    }
    .box {
        width: 80%;
    }
    .chart-information-container {
        justify-content: flex-start;
    }

    .main-user-experience {
        margin: 0 auto;
    }

    .selector-container,
    .user-info-container {
        text-align: left;
        max-width: 300px;
        padding-left: 10px;
    }
    .sessions-count-container {
        text-align: left;
    }
    .image-pannel {
        padding-left: 0px;
    }
    .search-field{
        padding: 100px;
        width: 80%;
    }
    

}





/****************** user graph */

.box h3 {
  font-family: "Kaushan Script", sans-serif;
  font-size: 32px;
  font-weight: normal;
  margin-left: 35px;
  margin-bottom: 20px;
  padding-top: 40px;
}

.date a {
  color: #9E9E9E;
  float: right;
  margin-right: 40px;
  font-size: 14px;
  text-decoration: none;
  line-height: 48px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.fa-calendar {
  padding-right: 5px;
}

.fa-caret-down {
  padding-left: 5px;
}

#traffic-container {
  width: 100%;
  height: 100%;
}


.extra-info-graphs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.pie-container {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

