/* #116466 - DARK GREEN
#2C3531 CHARCOL
#D9B08C - DARK PEACH
#FFCB9A - PEACH
#D1E8E2 - LIGHT BLUE 
#75543D - BROWN
#564133 - DARK BROWN*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* *************************************************** */
/* login page */
.login-google {
    padding-top: 100px;
    padding-bottom: 100px;
}











/* *************************************************** */
/* Useres logged in page */
.main-user-experience {
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.chart-navigation {
    width: 20%;
    background: #bbbbbb;
    padding-left: 40px;
    padding-top: 70px;
}
/* ************* */
/* logged in user information with welcome  */
.charts-container {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-user {
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;
}
.loggedin-user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 30px;
}
.user-photo-container img{
 
}
.company-logo-container img{
    max-height: 80px;
}
/* logged in user information with welcome  */
/* ****************** */



/* ******************* */
/* green plus sign fixed to bottom right to add events */
.add-event-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    z-index: 75;
}
.add-event-button img {
    height: 40px;
    box-shadow: 1px 5px 5px slategray;
    border-radius: 50%;
}
.add-event-button img:hover {
    cursor: pointer;
}
.add-event-button img:active {
    box-shadow: 1px 3px 1px slategray;
}
/* class that hides things */
.hidden {
    display: none;
}

/* ********************* */
/* Popup form to add events */
.form {
    position: fixed;
    top: 40%;
    left: 2.5%;
    background: white;
    height: 300px;
    width: 95%;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 1000000;
}
.form-container {
    margin: 10px;
}
.form .date,
.form .descripbe-event,
.form .icon-dropdown {
    margin-bottom: 10px;
}
.form .icon-dropdown {
    height: 50px;
}
/* icon dropdown */
.dd-selected {
    display: flex;
    align-content: center;
    align-items: center;
}
.icon {
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 100px;
}
.button-container{ 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
}
.button-container button {
    background: none;
    border-radius: 10px;
    margin-right: 30px;
    width: 70px;
    height: 30px;
}
/* ********************** */
/* ********************** */




/* *************************************************** */
/* Chart section */
.chart-date-range-container,
.chart-selection-container {
    display: flex;
    justify-content: center;
    text-align: center;
}
.ViewSelector2-item {
    padding: 14px;
}
.DateRangeSelector-item {
    padding: 14px;
}
.gapi-analytics-data-chart {
   
}
#chart-container {
    padding-top: 90px;
    padding-bottom: 20px;
}
/* Chart section */
/* *************************************************** */
/* End of user  */





/* *************************************************** */
/* footer for all pages */
.footer-container {
    height: 200px;
    background-color: #2C3531;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.menu-footer {
    padding: 0;
}


/* *************************************************** */







/* *************************************************** *//* *************************************************** *//* *************************************************** *//* *************************************************** */
@media only screen and (min-width: 768px){

    .form {
        top: 40%;
        left: 40%;
        background: white;
        min-height: 300px;
        width: 400px;
    }

    .chart-information-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

}



/* *************************************************** *//* *************************************************** *//* *************************************************** *//* *************************************************** */
@media only screen and (min-width: 960px){
    .chart-information-container {
        justify-content: flex-start;
    }
    .main-user-experience {
        margin: 0 auto;
    }
}





/****************** user graph */
.box {
  background: white;
  width: 80%;
  margin: 2.5rem auto; 
/*   height: 30rem; */
box-shadow: 0px 50px 80px -20px rgba(123, 160, 175, 0.70),0 20px 30px 10px rgba(80,180,220,0.2),0 0px 80px 60px rgba(80,180,220,0.2);
}

.box h3 {
  font-family: "Kaushan Script", sans-serif;
  font-size: 32px;
  font-weight: normal;
  margin-left: 35px;
  margin-bottom: 20px;
  padding-top: 40px;
}

.date a {
  color: #9E9E9E;
  float: right;
  margin-right: 40px;
  font-size: 14px;
  text-decoration: none;
  line-height: 48px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.fa-calendar {
  padding-right: 5px;
}

.fa-caret-down {
  padding-left: 5px;
}

#traffic-container {
  width: 100%;
  height: 100%:
}
